@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&subset=cyrillic');

body{
	padding: 0px;
	margin: 0px;
	font-family: roboto;
	font-weight: 100;
}

#main_commands li{
	margin-top: 10px;
	color: #333;
}
#main_commands i{
	font-style: normal;
	color: #000;
	font-weight: 300;
}

.offen{
	font-weight: 400;
	text-decoration: underline;
}