@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&subset=cyrillic');

body{
	padding: 0px;
	margin: 0px;
	font-family: roboto;
	font-weight: 100;
}

#main_commands li{
	color: #333;
}
#main_commands i{
	color: #000;
	font-weight: 400;
}
